@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Roboto;
		font-weight: 300;
		src: local("Roboto"),
			url("../../public/fonts/roboto/Roboto-Thin.ttf") format("truetype");
	}
	@font-face {
		font-family: Roboto;
		font-weight: 300;
		src: local("Roboto"),
			url("../../public/fonts/roboto/Roboto-Light.ttf") format("truetype");
	}
	@font-face {
		font-family: Roboto;
		font-weight: 400;
		src: local("Roboto"),
			url("../../public/fonts/roboto/Roboto-Regular.ttf") format("truetype");
	}

	@font-face {
		font-family: Roboto;
		font-weight: 500;
		src: local("Roboto"),
			url("../../public/fonts/roboto/Roboto-Medium.ttf") format("truetype");
	}
	/* semibold */
	@font-face {
		font-family: Roboto;
		font-weight: 600;
		src: local("Roboto"),
			url("../../public/fonts/roboto/Roboto-Bold.ttf") format("truetype");
	}
	/* bold */
	@font-face {
		font-family: Roboto;
		font-weight: 700;
		src: local("Roboto"),
			url("../../public/fonts/roboto/Roboto-Black.ttf") format("truetype");
	}
}

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
